{% extends 'webapp/base.html' %}

{% block content %}

<section class="ftco-section ftco-no-pt bg-light">


    <section class="ftco-section ftco-no-pt bg-light">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12	featured-top">
                    <div class="car-details" style="position: relative; place-items: center;">

                        <div class="services-wrap rounded-right w-100">
                            <div class="img rounded d-flex align-items-end"
                                style="background-image: url(/static/images/404-error-page-not-found.jpg);">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </section>

    {% endblock %}