{% extends 'webapp/base.html' %}


{% block content %}

<section class="ftco-section ftco-no-pt bg-light">
	<div class="d-flex align-items-center justify-content-center">

		<div class="d-flex align-items-center justify-content-center;">
		<div class="d-flex align-items-center justify-content-center" class="col-md-8">

				<div class="car-wrap ftco-animate" style="box-shadow: 6px 4px 4px 4px; border-radius: 30px;">
					<div class="text" style="color: black;text-align: center;">
						<h1>Admin Stats</h1>
						<hr>
						<b>Total No. of Cars: </b> {{cars}} <br>
						<b>Total No. of Seller : </b> {{sellers}} <br>
						<b>Total No. of Customers: </b> {{customers}} <br>
						<b>Total No. of Trips Taken: </b> {{trips}} <br>
						<b>Total No. of Transactions: </b> {{transactions}} <br>
						<b>Total Amount of Earnings: </b> {{total_earnings}} <br> <br>
						<a href="{% url 'admin_sellerslist' %}" class="btn btn-primary">Active Car Sellers </a>
						<a href="{% url 'admin_customerslist' %}" class="btn btn-primary">Active Customers </a>


					</div>
				</div>
			</div>
		</div>

</section>


{% endblock %}