{% extends 'webapp/base.html' %}
{% block content %}
<!-- END nav -->


<section class="ftco-section ftco-no-pt bg-light">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-md-12	featured-top">
				<div class="row no-gutters">
					<div class="col-md-6 d-flex align-items-center">
						<form method="post"  action = "{% url 'login-page' %}" class="request-form ftco-animate bg-dark">
							{% csrf_token %}
							<h2>Login to access Carla AV Rentals</h2>
							{% if error %}
							<div class="alert alert-danger">
								<strong>{{ error|escape }}</strong>
							</div>
							{% endif %}
							
							<div class="form-group">
								<label for="" class="label">Username</label>
								<input type="text" name="username" class="form-control" placeholder="Enter username">
							</div>
							<div class="form-group">
								<label for="" class="label">Password</label>
								<input type="password" name="password" class="form-control" placeholder="Enter Password">
							</div>
							
							<div class="form-group">
								<input type="submit" value="Login" class="btn btn-success py-3 px-4">
							</div>							
							<div class="form-group">								
								<a href="{% url 'register' %}" class="btn btn-warning py-2 text-center">Register</a>								
							</div>
						</form>
					</div>
					<div class="col-md-6 d-flex align-items-center">
						<div class="services-wrap rounded-right w-100">
							<h3 class="heading-section mb-4">Better Way to Rent Your Perfect Cars</h3>
							<div class="row d-flex mb-4">
								<div class="col-md-4 d-flex align-self-stretch ftco-animate">
									<div class="services w-100 text-center">
										<div class="icon d-flex align-items-center justify-content-center"><span
												class="flaticon-route"></span></div>
										<div class="text w-100">
											<h3 class="heading mb-2">Choose Your Pickup Location</h3>
										</div>
									</div>
								</div>
								<div class="col-md-4 d-flex align-self-stretch ftco-animate">
									<div class="services w-100 text-center">
										<div class="icon d-flex align-items-center justify-content-center"><span
												class="flaticon-handshake"></span></div>
										<div class="text w-100">
											<h3 class="heading mb-2">Select the Best Deal</h3>
										</div>
									</div>
								</div>
								<div class="col-md-4 d-flex align-self-stretch ftco-animate">
									<div class="services w-100 text-center">
										<div class="icon d-flex align-items-center justify-content-center"><span
												class="flaticon-rent"></span></div>
										<div class="text w-100">
											<h3 class="heading mb-2">Reserve Your Rental Car</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock %}