{% extends 'webapp/base.html' %}


{% block content %}


<section class="ftco-section bg-light">
    <div class="container">
        <h1 style="text-align: center;">Car Trips Made</h1>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="row">#</th>
                    <th>Car Company</th>
                    <th>Car Model</th>
                    <th>Amount</th>

                    <th> Source</th>
                    <th> Destination</th>
                    <th> Start Date</th>
                    <th> Start Time</th>
                    <th> End Date</th>
                    <th> Trip Status</th>

                </tr>
            </thead>
            <tbody>
                {% for trans in transactions %}
                <tr >
                    <td scope="row"><b>{{ forloop.counter }}</b></td>
                    <td>{{car_model}}</td>&nbsp;
                    <td>{{car_company}}</td>
                    <td>${{trans.amount}}</td>

                    <td> {{trans.trip.source}}</td>
                    <td> {{trans.trip.destination}}</td>
                    <td> {{trans.trip.start_time}}</td>
                    <td> {{trans.trip.time}}</td>
                    <td> {{trans.trip.end_time}}</td>
                    {% if trans.trip.status %}
                    
                    <td class="btn-primary"> In-Progress </td>
                    {% else %}
                    <td class="btn-success"> Completed </td>
                    {% endif %}



                </tr>
                {% endfor%}

            </tbody>
        </table>

    </div>
</section>
<style>
    th,td{
        text-align: center;
    }

</style>
{% endblock %}