{% extends 'webapp/base.html' %}


{% block content %}


<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-16">
                <div class="car-wrap rounded ftco-animate">
                    <div class="text">
                        <div class="d mb-12">
                            <p style="font-weight: bold;">{{trip.car.car_name}}</p>
                            <p style="font-weight: bold;">Registered On:<span> {{trip.source}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}